<div id="flexslider">
    <div id="ban">
        <div class="jiantou_box">
            <div class="jiantou">
                <div class="jiantou_left"></div>
                <div class="jiantou_right"></div>
            </div>
        </div>
        <ul class="ban_bj">
            <li style="background:url(/static/images/1-1F5121340140-L.jpg) no-repeat center top; background-size:cover;"></li>
            <li style="background:url(/static/images/1-1F5121340030-L.jpg) no-repeat center top; background-size:cover;"></li>
            <li style="background:url(/static/images/1-1F5121339510-L.jpg) no-repeat center top; background-size:cover;"></li>
        </ul>
        <div class="dian">
            <ul class="ul_dian">
                <li class="licurr"></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>